{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}! <a href="{% url 'logout' %}">Log Out</a>

        {% if form %}
            <form method="post" id="resource-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send">
            </form>
        {% endif %}
        {% if data %}
            <p>Url: <a href="{{ data.slug_url }}" target="_blank">{{ data.slug_url }}</a></p>
            <p>Password: {{ data.password }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
